/*all footer css properties */
footer{
    @include desktop{
        @include flex;
        @include width-height(100%);
        .box{
            @include width-height(1200px);
        }
    }
    @include padding-block(10px, 20px);
    background-color: $color-dark;
    .logo{
        width: 160px;
        h1{
            color: $color-light;
            font-size: 2em;
            padding-left: 14px;
        }
    }
    ul{
        padding: 0px;
        list-style: none;
        li{
            margin-bottom: 10px;
            a{
                display: flex;
                color: $color-light;
                i{
                    margin-right: 17px;
                }
            }
            &:nth-child(2){
                i{
                    margin-right: 10px;
                }
            }
        }
    }
}