/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~HOMEHEADER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.logo{
    @include flex;
    @include width-height(100%, 65px);
    h1{
        font-size: 1.85em;
        margin-top: 30px;
    }
}
#localisation{
    @include flex;
    @include width-height(100%, 47px);
    background-color: $color-header;
    box-shadow: -4px 17px 18px -20px rgba(0, 0, 0, 0.432) inset;
    div{
        @include position;
        left: -13px;
        span{
            margin-left: 11px;
        }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~MENUHEADER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.header--menu{
    @include width-height(100%, 310px);
    .header--menu__title{
        @include flex(row);
        height: 65px;
        .header--menu__title__back-btn{
            @include position(absolute, auto, 20px, none);
        }
    }
    img{
        @include width-height(100%, 290px);
        @include position(relative, -1, none, none);
        object-fit: cover;
    }
}
