/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~ANIMATION KEYFRAME~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*keyframe appartion titre menu*/
.meal-part h3{
    opacity: 0;
    animation: title-menu-anim 0.65s forwards;
    animation-delay: 0.2s;
}
@keyframes title-menu-anim
{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

/*keyframe appartion plat menu*/
.meal-part :nth-child(2){
    @include course-begin-anim(0.4s)
}
.meal-part :nth-child(3){
    @include course-begin-anim(0.6s);
}

.meal-part :nth-child(4){
    @include course-begin-anim(0.8s);
}

.meal-part :nth-child(5){
    @include course-begin-anim(1s);
}
@keyframes course-menu-anim
{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


/*keyframe checkbox menu*/
.course{
    input{ 
        animation: unhover-checkbox 1.2s forwards;
    }
}
.course:hover{
    input{
        animation: hover-checkbox 0.65s forwards;
    }
}

@keyframes hover-checkbox
{
    0%{
        transform: scale(1) translate(50px) rotate(-640deg); 
    }
    70%{
        transform: scale(1.07) translate(0px) rotate(30deg);
    }
    100%{
        transform: scale(1) translate(0px) rotate(0deg);
    }
}
@keyframes unhover-checkbox
{
    0%{
        transform: translate(0px) rotate(0deg);
    }
    100%{
        transform: translate(50px) rotate(0deg);
    }
}
/*keyframe fleche retour page d'acceuil*/
.header--menu__title__back-btn:hover i{
    animation: arrow 1s;
}
@keyframes arrow
{
    0%{
        transform: translate(0px); 
    }
    20%{
        transform: translate(20px) scaleX(1.15);
        opacity: 0.7;
    }
    40%{
        transform: translate(00px) scaleX(0.8);
        opacity: 1;
    }
    100%{
        transform: translate(00px);
    }
}
/*keyframe spinner load*/
#loading-spinner{
    animation: end-loading 0.5s ease-in forwards;
    animation-delay: 2.7s;
    h1{
        animation: end-logo 0.35s ease-in forwards;
        animation-delay: 2.6s;
        &::after{
            animation: spinn-logo 1s ease-in;
            animation-iteration-count: 3;
            animation-delay: 0s;
        }
        &::before{
            animation: spinn-logo 1s ease-in;
            animation-iteration-count: 3;
            animation-delay: 0.15s;
        }
    }
}
@keyframes end-loading
{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    99%{
        opacity: 0;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
}
@keyframes end-logo
{
    0%{
        transform: translate(0px, 0px) scale(1.5);
    }
    100%{
        transform: translate(0px, -237px) scale(0.928);
    }
}
@keyframes spinn-logo
{
    0%{
        opacity: 0;
    }
    15%{
        opacity: 0.5;
    }
    33%{
        opacity: 1;
    }
    66%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}

.dots{
    animation: dots-anim 0.2s forwards;
    animation-delay: 2.6s;
    .dot{
        animation: dot-anim 1s forwards;
        animation-iteration-count: 3;
    }
    .dot-2{
        animation: dot-anim-2 1s forwards;
        animation-iteration-count: 3;
    }
}
@keyframes dots-anim
{
    0%{
        opacity: 1;
        transform: translate(0px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate(0px, -90px);
    }
}
@keyframes dot-anim
{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes dot-anim-2
{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}