html {
  overflow-x: hidden;
}

body {
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.content {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1300px;
  min-width: 300px;
  height: none;
  max-height: none;
  min-height: 1300px;
}
@media (min-width: 1300px) {
  .content {
    width: 100%;
    max-width: 100%;
    min-width: 300px;
    height: none;
    max-height: none;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

main {
  overflow: hidden;
}
@media (min-width: 1300px) {
  main {
    width: 1300px;
    max-width: 1300px;
  }
}

html {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  left: 0px;
  top: 0px;
  width: 217px;
  max-width: none;
  min-width: none;
  height: 47px;
  max-height: none;
  min-height: none;
  margin: 33px auto 55px auto;
  border: none;
  border-radius: 40px;
  color: white;
  background: #FF79DA;
  background-image: linear-gradient(170deg, rgba(255, 255, 255, 0) 37%, #9356DC 100%);
  box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.34);
  cursor: pointer;
  font-size: medium;
}
@media (min-width: 1154px) {
  .btn {
    margin: 23px auto 35px auto;
  }
}
.btn::after {
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 0px;
  width: 217px;
  max-width: none;
  min-width: none;
  height: 47px;
  max-height: none;
  min-height: none;
  content: "";
  border-radius: 40px;
  opacity: 0;
  background: #FF79DA;
  background-image: linear-gradient(177deg, rgba(255, 255, 255, 0) 22%, #9356DC 100%);
}

.btn--menu {
  margin: 40px auto 10px auto;
}

.hover {
  opacity: 0;
  background: #FF79DA;
  background-image: linear-gradient(177deg, rgba(255, 255, 255, 0) 50%, #9356DC 100%);
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  font-size: 21.7px;
  height: 18px;
  transition: opacity 0.3s;
  cursor: pointer;
}

.base {
  color: #353535;
  transition: opacity 0.3s;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~HOMEHEADER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: none;
  min-width: none;
  height: 65px;
  max-height: none;
  min-height: none;
}
.logo h1 {
  font-size: 1.85em;
  margin-top: 30px;
}

#localisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: none;
  min-width: none;
  height: 47px;
  max-height: none;
  min-height: none;
  background-color: #f6f6f6;
  box-shadow: -4px 17px 18px -20px rgba(0, 0, 0, 0.432) inset;
}
@media (min-width: 1154px) {
  #localisation {
    height: 0px;
    width: 150px;
    position: absolute;
    top: 38px;
    right: 20px;
  }
  #localisation i {
    color: #9356DC;
  }
  #localisation span {
    font-weight: bold;
  }
}
@media (min-width: 1300px) {
  #localisation {
    height: 0px;
    width: 150px;
    position: relative;
    top: -28px;
    left: 550px;
  }
}
#localisation div {
  position: relative;
  z-index: auto;
  left: 0px;
  top: 0px;
  left: -13px;
}
#localisation div span {
  margin-left: 11px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~MENUHEADER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.header--menu {
  width: 100%;
  max-width: none;
  min-width: none;
  height: 310px;
  max-height: none;
  min-height: none;
}
@media (min-width: 1300px) {
  .header--menu {
    width: 100%;
    max-width: none;
    min-width: none;
    height: 280px;
    max-height: none;
    min-height: none;
  }
}
.header--menu .header--menu__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 65px;
}
.header--menu .header--menu__title .header--menu__title__back-btn {
  position: absolute;
  z-index: auto;
  left: 20px;
  top: none;
}
@media (min-width: 1300px) {
  .header--menu .header--menu__title .header--menu__title__back-btn {
    position: relative;
    z-index: auto;
    left: -527px;
    top: none;
  }
}
.header--menu img {
  width: 100%;
  max-width: none;
  min-width: none;
  height: 290px;
  max-height: none;
  min-height: none;
  position: relative;
  z-index: -1;
  left: none;
  top: none;
  object-fit: cover;
}
@media (min-width: 1300px) {
  .header--menu img {
    width: 100%;
    max-width: none;
    min-width: none;
    height: 500px;
    max-height: none;
    min-height: none;
  }
}
.header--menu .desktop-img-bg {
  width: 100%;
  max-width: none;
  min-width: none;
  height: 0px;
  max-height: none;
  min-height: none;
  position: relative;
  z-index: -1;
  left: none;
  top: -270px;
  background: linear-gradient(360deg, white 38%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
}
@media (min-width: 1300px) {
  .header--menu .desktop-img-bg {
    width: 100%;
    max-width: none;
    min-width: none;
    height: 400px;
    max-height: none;
    min-height: none;
    opacity: 1;
  }
}

footer {
  padding: 10px 20px 60px 20px;
  background-color: #353535;
}
@media (min-width: 1300px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: none;
    min-width: none;
    height: none;
    max-height: none;
    min-height: none;
  }
  footer .box {
    width: 1200px;
    max-width: none;
    min-width: none;
    height: none;
    max-height: none;
    min-height: none;
  }
}
footer h1 {
  color: white;
  font-size: 1.15em;
}
footer ul {
  padding: 0px;
  list-style: none;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  display: flex;
  color: white;
}
footer ul li a i {
  margin-right: 17px;
}
footer ul li:nth-child(2) i {
  margin-right: 10px;
}

/*animation btn*/
.btn {
  transition: box-shadow 0.2s;
}
.btn:hover {
  box-shadow: -2px -3px 10px -4px rgba(0, 0, 0, 0.377);
  transition: box-shadow 0.2s;
}
.btn:hover::after {
  opacity: 1;
  transition: opacity 0.2s;
}
.btn::after {
  transition: opacity 0.2s;
}

/*animation Heart*/
.like:hover .hover {
  opacity: 1;
  transition: opacity 0.3s;
}
.like:hover .base {
  opacity: 0;
}

/*animation Fonctionnement*/
.functionning__card {
  transition: box-shadow 0.3s;
}
.functionning__card::after {
  transition: opacity 0.3s;
}
.functionning__card i {
  transition: color 0.3s;
}

.functionning__card:hover {
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.377);
  transition: box-shadow 0.3s, opacity 0.3s;
}
.functionning__card:hover::after {
  opacity: 0.1;
  transition: opacity 0.3s;
}
.functionning__card:hover i {
  color: #9356DC;
}

/*animation restaurant*/
.restaurant__card {
  transition: box-shadow 0.3s;
}
.restaurant__card h3 {
  transition: color 0.3s;
}
.restaurant__card img {
  transition: opacity 0.3s;
}
.restaurant__card::after {
  transition: opacity 0.3s;
}

.restaurant__card:hover {
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.34);
  transition: box-shadow 0.3s;
}
.restaurant__card:hover img {
  opacity: 0.9;
  transition: opacity 0.3s;
}
.restaurant__card:hover::after {
  opacity: 0.085;
  transition: opacity 0.3s;
}

/*animation footer*/
footer li:hover {
  opacity: 0.75;
}

/*animation plat et checkbox plat*/
.course {
  transition: box-shadow 0.2s;
}
.course .course__select {
  transition: width 0.4s;
}

.course:hover {
  transition: box-shadow 0.2s;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.377);
}
.course:hover .course__select {
  transition: width 0.4s;
  width: 60px;
  max-width: none;
  min-width: none;
  height: 70px;
  max-height: none;
  min-height: none;
}

/*keyframe appartion titre menu*/
.meal-part h3 {
  opacity: 0;
  animation: title-menu-anim 0.65s forwards;
  animation-delay: 0.2s;
}

@keyframes title-menu-anim {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*keyframe appartion plat menu*/
.meal-part :nth-child(2) {
  opacity: 0;
  transform: translateY(20px);
  animation: course-menu-anim 0.65s forwards;
  animation-delay: 0.4s;
}

.meal-part :nth-child(3) {
  opacity: 0;
  transform: translateY(20px);
  animation: course-menu-anim 0.65s forwards;
  animation-delay: 0.6s;
}

.meal-part :nth-child(4) {
  opacity: 0;
  transform: translateY(20px);
  animation: course-menu-anim 0.65s forwards;
  animation-delay: 0.8s;
}

.meal-part :nth-child(5) {
  opacity: 0;
  transform: translateY(20px);
  animation: course-menu-anim 0.65s forwards;
  animation-delay: 1s;
}

@keyframes course-menu-anim {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*keyframe checkbox menu*/
.course input {
  animation: unhover-checkbox 1.2s forwards;
}

.course:hover input {
  animation: hover-checkbox 0.65s forwards;
}

@keyframes hover-checkbox {
  0% {
    transform: scale(1) translate(50px) rotate(-640deg);
  }
  70% {
    transform: scale(1.07) translate(0px) rotate(30deg);
  }
  100% {
    transform: scale(1) translate(0px) rotate(0deg);
  }
}
@keyframes unhover-checkbox {
  0% {
    transform: translate(0px) rotate(0deg);
  }
  100% {
    transform: translate(50px) rotate(0deg);
  }
}
/*keyframe fleche retour page d'acceuil*/
.header--menu__title__back-btn:hover i {
  animation: arrow 1s;
}

@keyframes arrow {
  0% {
    transform: translate(0px);
  }
  20% {
    transform: translate(20px) scaleX(1.15);
    opacity: 0.7;
  }
  40% {
    transform: translate(0px) scaleX(0.8);
    opacity: 1;
  }
  100% {
    transform: translate(0px);
  }
}
/*keyframe spinner load*/
#loading-spinner {
  animation: end-loading 0.5s ease-in forwards;
  animation-delay: 2.7s;
}
#loading-spinner h1 {
  animation: end-logo 0.35s ease-in forwards;
  animation-delay: 2.6s;
}
#loading-spinner h1::after {
  animation: spinn-logo 1s ease-in;
  animation-iteration-count: 3;
  animation-delay: 0s;
}
#loading-spinner h1::before {
  animation: spinn-logo 1s ease-in;
  animation-iteration-count: 3;
  animation-delay: 0.15s;
}

@keyframes end-loading {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes end-logo {
  0% {
    transform: translate(0px, 0px) scale(1.5);
  }
  100% {
    transform: translate(0px, -237px) scale(0.928);
  }
}
@keyframes spinn-logo {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.5;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.dots {
  animation: dots-anim 0.2s forwards;
  animation-delay: 2.6s;
}
.dots .dot {
  animation: dot-anim 1s forwards;
  animation-iteration-count: 3;
}
.dots .dot-2 {
  animation: dot-anim-2 1s forwards;
  animation-iteration-count: 3;
}

@keyframes dots-anim {
  0% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  100% {
    opacity: 0;
    transform: translate(0px, -90px);
  }
}
@keyframes dot-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dot-anim-2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#loading-spinner {
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  width: 100%;
  max-width: none;
  min-width: none;
  height: 2348.77px;
  max-height: none;
  min-height: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  padding-top: 250px;
  background-color: white;
}
#loading-spinner div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: none;
  min-width: none;
  height: none;
  max-height: none;
  min-height: none;
  text-align: center;
}
#loading-spinner div h1 {
  width: 260px;
  max-width: none;
  min-width: none;
  height: 80px;
  max-height: none;
  min-height: none;
  transform: scale(1.5);
  margin: 0px;
  background: #FF79DA;
  background-image: linear-gradient(280deg, rgba(255, 255, 255, 0.116) 50%, #9356DC 65%, rgba(255, 255, 255, 0.116) 100%);
  color: rgba(0, 0, 0, 0);
  background-clip: text;
  -webkit-background-clip: text;
}
#loading-spinner div h1::after {
  position: absolute;
  z-index: -2;
  left: 0px;
  top: 0px;
  width: 260px;
  max-width: none;
  min-width: none;
  height: 80px;
  max-height: none;
  min-height: none;
  content: "ohmyfood";
  opacity: 0;
  background: #FF79DA;
  background-image: linear-gradient(220deg, rgba(255, 255, 255, 0.116) 57%, #9356DC 70%, rgba(255, 255, 255, 0.116) 100%);
  color: rgba(0, 0, 0, 0);
  background-clip: text;
  -webkit-background-clip: text;
}
#loading-spinner div h1::before {
  position: absolute;
  z-index: -2;
  left: 0px;
  top: 0px;
  width: 260px;
  max-width: none;
  min-width: none;
  height: 80px;
  max-height: none;
  min-height: none;
  content: "ohmyfood";
  opacity: 0;
  background: #FF79DA;
  background-image: linear-gradient(240deg, rgba(255, 255, 255, 0.473) 30%, #9356DC 50%, rgba(255, 255, 255, 0.116) 60%);
  color: rgba(0, 0, 0, 0);
  background-clip: text;
  -webkit-background-clip: text;
}
#loading-spinner div .dots {
  width: 110px;
  max-width: none;
  min-width: none;
  height: 110px;
  max-height: none;
  min-height: none;
}
#loading-spinner div .dots .dot {
  width: 60px;
  max-width: none;
  min-width: none;
  height: 60px;
  max-height: none;
  min-height: none;
  border: solid #9356DC 5px;
  border-right: solid transparent 5px;
  border-radius: 50px;
}
#loading-spinner div .dots .dot-2 {
  position: relative;
  top: -55px;
  width: 30px;
  max-width: none;
  min-width: none;
  height: 30px;
  max-height: none;
  min-height: none;
  border: solid #9356DC 5px;
  border-left: solid transparent 5px;
  border-radius: 50px;
}

.functionning {
  padding: 50px 20px 60px 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1154px) {
  .functionning {
    padding: 30px 20px 40px 20px;
  }
}
.functionning h2 {
  margin: 0px 0px 35px 0px;
  width: 100%;
}
@media (min-width: 768px) {
  .functionning div {
    display: flex;
    justify-content: center;
  }
}
.functionning div .first-child::before {
  content: "1";
}

.functionning__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
  left: 0px;
  top: 0px;
  min-height: 75px;
  margin: 0px 0px 20px 15px;
  border-radius: 23px;
  background-color: #fbfbfb;
  box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.34);
  cursor: pointer;
}
@media (min-width: 768px) {
  .functionning__card {
    margin-right: 5px;
    min-width: 235px;
    width: 100%;
  }
}
.functionning__card::before {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -1;
  left: -13px;
  top: 0px;
  width: 23px;
  max-width: none;
  min-width: none;
  height: 23px;
  max-height: none;
  min-height: none;
  content: "2";
  border-radius: 20px;
  color: white;
  background-color: #9356DC;
}
.functionning__card::after {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 0px;
  width: 100%;
  max-width: none;
  min-width: none;
  height: 75px;
  max-height: none;
  min-height: none;
  content: "";
  border-radius: 23px;
  background-color: #9356DC;
}
.functionning__card:last-child::before {
  content: "3";
}
.functionning__card span:first-child {
  color: #7b7b7b;
}
.functionning__card span:last-child {
  margin-left: 15px;
  font-weight: bold;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 35px;
  background-color: #fbfbfb;
}
.presentation h2 {
  padding: 0px 15px;
  margin: 40px 0px 0px 0px;
}
@media (min-width: 1154px) {
  .presentation h2 {
    margin: 25px 0px 0px 0px;
  }
}
.presentation p {
  margin: 25px 0px 0px 0px;
}

.restaurant {
  background-color: #fbfbfb;
  padding: 50px 20px 60px 20px;
}
@media (min-width: 1154px) {
  .restaurant {
    padding-top: 27px;
  }
}
@media (min-width: 768px) {
  .restaurant .box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (min-width: 1154px) {
  .restaurant .box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

.restaurant__card {
  width: 100%;
  max-width: none;
  min-width: none;
  height: 250px;
  max-height: none;
  min-height: none;
  border-radius: 22px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.34);
  position: relative;
  z-index: 1;
  left: 0px;
  top: 0px;
}
@media (min-width: 768px) {
  .restaurant__card {
    width: 100%;
    max-width: none;
    min-width: none;
    height: 250px;
    max-height: none;
    min-height: none;
  }
}
.restaurant__card::after {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 0px;
  width: 100%;
  max-width: none;
  min-width: none;
  height: 250px;
  max-height: none;
  min-height: none;
  content: "";
  border-radius: 23px;
  background-image: linear-gradient(-170deg, rgba(255, 255, 255, 0) 37%, #9356DC 100%);
  box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.34);
}
.restaurant__card a .restaurant__card__img {
  position: relative;
  z-index: 1;
  left: 0px;
  top: 0px;
}
.restaurant__card a .restaurant__card__img img {
  width: 100%;
  max-width: none;
  min-width: none;
  height: 175px;
  max-height: none;
  min-height: none;
  border-radius: 22px 22px 0px 0px;
  object-fit: cover;
}
.restaurant__card a .restaurant__card__img--new::before {
  content: "Nouveau";
  position: absolute;
  z-index: 1;
  left: none;
  top: 15px;
  right: 15px;
  color: #2c9c81;
  background-color: #99E2D0;
  padding: 8px 13px;
  border-radius: 5px;
  font-weight: bold;
}
.restaurant__card a .restaurant__card__info {
  display: flex;
}
.restaurant__card a .restaurant__card__info div:first-child {
  width: 90%;
  padding-left: 16px;
}
.restaurant__card a .restaurant__card__info div:first-child h3 {
  margin: 15px 0px 5px 0px;
}
.restaurant__card a .restaurant__card__info div:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  max-width: none;
  min-width: none;
  height: 62px;
  max-height: none;
  min-height: none;
}
.restaurant__card a .restaurant__card__info div:last-child .like {
  height: 25px;
  width: 25px;
}
.restaurant__card a .restaurant__card__info div:last-child .like i {
  padding: 10px 25px 0px 0px !important;
}
.restaurant__card a .restaurant__card__info div:last-child .like i:first-child {
  position: relative;
  left: 46.45px;
  top: 0.7px;
}

.menu {
  background-color: #fbfbfb;
  border-radius: 50px 50px 0px 0px;
  padding: 40px 20px;
}

.menu__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
}
.menu__title h2 {
  width: 100%;
  margin: 0px;
  font-family: "Shrikhand", cursive;
}
.menu__title div {
  justify-self: flex-end;
}
.menu__title div i:first-child {
  position: relative;
  top: 10px;
}
.menu__title div i:last-child {
  position: relative;
  top: -10.75px;
  padding-top: 2px;
}

.meal-part h3 {
  width: 40px;
  padding-bottom: 7px;
  border-bottom: #99E2D0 4px solid;
}
@media (min-width: 768px) {
  .meal-part .box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (min-width: 1154px) {
  .meal-part .box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
.meal-part .course {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 20px;
  height: 70px;
  box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.34);
}
.meal-part .course__info {
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: space-between;
  width: 100%;
  max-width: none;
  min-width: 0px;
  height: none;
  max-height: none;
  min-height: none;
  margin-left: 15px;
}
.meal-part .course__info .course__info__name-ingredient {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.meal-part .course__info .course__info__name-ingredient h4 {
  margin: 0px 0px 5px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.meal-part .course__info .course__info__price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-weight: bold;
  margin-right: 25px;
}
.meal-part .course__select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 0px;
  max-width: none;
  min-width: none;
  height: 70px;
  max-height: none;
  min-height: none;
  background-color: #99E2D0;
  border-radius: 0px 20px 20px 0px;
}
.meal-part .course__select input {
  width: 25px;
  max-width: none;
  min-width: none;
  height: 25px;
  max-height: none;
  min-height: none;
  appearance: none;
  background-image: url(../../public/img/check-circle.svg);
}

/*# sourceMappingURL=style.css.map */
