
.hover{
    opacity: 0;
    background: $color-secondary;
    background-image: linear-gradient(177deg, $transparency 50%, $color-primary 100%);
    color: rgba(0, 0, 0, 0);
    -webkit-background-clip: text;
    font-size: 21.7px;
    height: 18px;
    transition: opacity 0.3s;
    cursor: pointer;
}
.base{
    color : $color-dark;
    transition: opacity 0.3s;
}