.functionning{
    @include laptop{
        padding: 30px 20px 40px 20px;
    }
    padding: 50px 20px 60px 20px;
        display: flex;
        flex-direction: column;
    h2{
        margin:0px 0px 35px 0px;
        width: 100%;
    }
    div{

        @include tablet{
            display: flex;
            justify-content: center
        }
        .first-child{
            &::before{
                content: "1";
            }
    }
    }
}
.functionning__card{
    @include flex(row, center, flex-start);
    @include position(relative, 1);
    min-height: 75px;
    margin: 0px 0px 20px 15px;
    border-radius: 23px;
    background-color: $color-info;
    box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.34);
    cursor: pointer;
    @include tablet{
        margin-right: 5px;
        min-width: 235px;
        width: 100%;
    }
        &::before{
            @include flex;
            @include position(relative, -1, -13px);
            @include width-height(23px, 23px);
            content: "2";
            border-radius: 20px;
            color: $color-light;
            background-color: $color-primary;
        }
        &::after{
            opacity: 0;
            @include flex;
            @include position(absolute, -1);
            @include width-height(100%, 75px);
            content: "";
            border-radius: 23px;
            background-color: $color-primary;
        }        
        &:last-child::before{
            content: "3";
        }
        span{
            &:first-child{
                color: darken($color-info, 50%);
            }
        }
        h6 {
            margin: 0px;
            margin-left: 15px;
            font-weight: bold;
            font-size: 16px;
        }
    }
