.restaurant{
    background-color: $color-info;
    @include padding-block;
    @include laptop{
        padding-top: 27px;
    }
    .box{
        @include tablet{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }
        @include laptop{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
        }
    }
}
.restaurant__card{
    @include width-height(100%, 250px);
    @include tablet{
        @include width-height(100%, 250px);
      }
    border-radius: 22px;
    margin-bottom: 20px;
    background-color: $color-light;
    box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.34);
    @include position(relative, 1);
    &::after{
        opacity: 0;
        @include flex;
        @include position(absolute, -1);
        @include width-height(100%, 250px);
        content: "";
        border-radius: 23px;
        background-image: linear-gradient(-170deg, $transparency 37%, $color-primary 100%);
        box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.34);
    }    
    a{
        .restaurant__card__img{
            @include position(relative, 1);
            img{
                @include width-height(100%, 175px);
                border-radius: 22px 22px 0px 0px;
                object-fit: cover;
                }
            &--new{
                &::before{
                    content: "Nouveau";
                    @include position(absolute, 1, none, 15px);
                    right: 15px;
                    color: darken($color-tertiary, 35%);
                    background-color: $color-tertiary;
                    padding : 8px 13px;
                    border-radius: 5px;
                    font-weight: bold;
                }
            }
        }
        .restaurant__card__info{
            display: flex;
            div:first-child{
                width: 90%;
                padding-left: 16px;
                h3{
                    margin: 15px 0px 5px 0px;
                }
            }
            div:last-child{
                @include flex(row, center, flex-end);
                @include width-height(50%, 62px);
                .like{
                    height: 25px;
                    width: 25px;
                    i{
                        padding:10px 25px 0px 0px !important;
                        &:first-child{
                            position: relative;
                            left: 46.45px;
                            top: 0.7px;
                        }
                }
                }
            }
        }
    }
}

