#loading-spinner{
    @include position(absolute, 10);
    @include width-height(100%, 2348.77px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    padding-top: 250px;
    background-color: $color-light;
    div{
        @include flex;
        @include width-height(90%);
        text-align: center;
        h1{
            @include width-height(260px, 80px);
            transform: scale(1.5);
            margin: 0px;
            @include spin-loader-title(280deg,rgba(255, 255, 255, 0.116),50%,65%,100%);
            &::after{
                @include position(absolute, -2, 0px, 0px);
                @include width-height(260px, 80px);
                content: "ohmyfood";
                opacity: 0;
                @include spin-loader-title(220deg,rgba(255, 255, 255, 0.116),57%,70%,100%);
            }
            &::before{
                @include position(absolute, -2, 0px, 0px);
                @include width-height(260px, 80px);
                content: "ohmyfood";
                opacity: 0;
                @include spin-loader-title(240deg,rgba(255, 255, 255, 0.473),30%,50%,60%);
            }
        }
        .dots{
            @include width-height(110px, 110px);
            .dot{
                @include width-height(60px, 60px);
                border: solid $color-primary 5px;
                border-right: solid transparent 5px;
                border-radius: 50px;
            }
            .dot-2{
                position: relative;
                top: -55px;
                @include width-height(30px, 30px);
                border: solid $color-primary 5px;
                border-left: solid transparent 5px;
                border-radius: 50px;
            }
        }
    }

}



