@mixin padding-block($top: 50px, $bottom : 60px, $side: 20px ){
    padding: $top $side $bottom $side;
}

@mixin flex($direction : column, $align : center, $justify: center){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin position($position : relative, $z-index : auto, $left : 0px, $top : 0px){
    position: $position;
    z-index: $z-index;
    left: $left;
    top: $top;
}

@mixin width-height($width : 100%, $height : none,
                    $max-width : none, $min-width: none, 
                    $max-height : none, $min-height: none){
    width: $width;
    max-width: $max-width;
    min-width: $min-width;
    height: $height;
    max-height: $max-height;
    min-height: $max-width;
}

@mixin course-begin-anim($delay){
        opacity: 0;
        transform: translateY(20px);
        animation: course-menu-anim 0.65s forwards;
        animation-delay: $delay;

}

@mixin spin-loader-title($deg,$color1,$pc1,$pc2,$pc3){
    background: $color-secondary;
    background-image: linear-gradient($deg, $color1 $pc1, $color-primary $pc2, rgba(255, 255, 255, 0.116) $pc3);
    color: rgba(0, 0, 0, 0);
    background-clip: text;
    -webkit-background-clip: text;
}

@mixin tablet($breakpoint:map-get($responsive, tablet)){
    @media(min-width : $breakpoint){
    @content
    }
}