$color-primary : #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-header : lighten(gainsboro, 10%);
$color-info : lighten(gainsboro, 12%);

$color-light : white;
$color-dark : #353535;
$color-black : black;
$transparency : rgba(255, 255, 255, 0);